@import 'mixins';
@import 'variables';
.demos-container{
  .dimensions(100%, auto);
  .container(0 auto);
  //.border();
}

.demos-container h1{
  margin: 70px 0;
  text-align: center;
}

.demos-elements{
  .dimensions(80%, auto);
  .container(0 auto);

}

@keyframes trans {
  from{
    box-shadow:0;
  }
  to{
    box-shadow: 5px 5px 10px  #888888;
  }
}

.demos-elements figure{
  .container(0 auto);
  .dimensions(80%, 450px);
  overflow-y: hidden;

  &:hover{
    animation: trans 0.5s forwards;
  }
  &:focus{
    animation: trans 0.5s forwards;
  }

  @media screen and (max-width: 992px){
    text-align: center;
  }

  @media screen and (max-width: 410px){
    .dimensions(100%, 480px);
    margin-bottom:10px;

  }


}

.demos-elements figure img{
  z-index:90;
  .container(0 auto);
  display: block;
  .dimensions(100%, auto);

  @media screen and (max-width: 992px){
    .dimensions(50%, 50%);
  }

}

.demos-elements figure span{
  .container(0 auto);
}

.demos-elements figure span img{
  display: inline-block;
  .dimensions(40px, 40px);
  font-size:0.5em;
  filter: grayscale(70%) opacity(75%);
}