@import 'mixins';
@import 'variables';

#navigation{
  overflow: hidden;
  padding: 10px;
  .dimensions(100%, 80px);
  background-color: @nav-bg;
  z-index:6;
  top: 10px; // required as well.

}

.navStick{
  position: fixed;
  z-index: 5;
}

#logo {
  color: white;
  float: left;
 }

#contact{
  position: relative;
  display: inline;
  float: right;
  left:0;
}

@keyframes contact-button{
  from
  {
    background-color: transparent;
    border:1px solid white;
    color:white;
  }
  to
  {
    background-color: white;
    border:1px solid black;
    color:black;
  }
}

#contact-btn{
  border: 1px solid white;
  color:white;
  height: 30px;
  text-align: center;
  margin-right: 50px;
  display: inline-block;
  line-height: 0;

  &:hover{
    text-decoration: underline;
    animation: contact-button 0.5s;
    animation-fill-mode: forwards;
  }

  &:focus{
    text-decoration: underline;
    animation: contact-button 0.5s;
    animation-fill-mode: forwards;
  }

  &:active{
    text-decoration: none;
  }


}

#logo-img{
  .dimensions(40px, auto);
  //border: 1px solid white;
  margin-left: 30px;
  .verticalCenter();

  @media screen and (max-width: 768px){
    margin-left: 10px;
  }

}

#languages{
  //border: 1px solid black;
  width: auto;
  display: inline;
  top:60px;
  position: absolute;
  left: 6%;
}

.language{
  //border: 1px solid black;
  .dimensions(auto, 10px);
  font-size:10px;
  text-decoration: underline;
  color: white;
  margin-right: 5px;
  top:60px;
}

#en{
  //left:7%;
}
#es{
  //left: 15%;
}



